# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/
*.log

# Virtual environment
venv/
.env/
env/

# Database local
*.db
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# Cache
.cache/
